<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ConnectString" value="server=172.18.18.55;Failover Partner=172.18.18.55;UID=ichsy_cp;PWD=ichsy@)!%0119;DATABASE=JYH_Shop;connect timeout=3320"/>
    <add key="ConnectString_Log" value="server=172.18.18.55;Failover Partner=172.18.18.55;UID=ichsy_cp;PWD=ichsy@)!%0119;DATABASE=HJY_Shop_Log;connect timeout=3320"/>
    <!-- 系统分配的ApiKey -->
    <add key="JYHAPI_key" value="appfamilyhas"/>
    <!-- API密 码 -->
    <add key="JYHMD5_key" value="amiauhsnehnujiauhz"/>
    <!-- Api请求地址 http://hjy.beta-wxshop.huijiayou.cn/cfamily/jsonapi/-->
    <add key="JYHAPI_url" value="http://hjy.beta-wxshop.huijiayou.cn/cfamily/jsonapi/"/>
    <!-- Api请求地址(特价使用)-->
    <add key="JYHAPI_url_TJ" value="http://qhbeta-cevent.qhw.yshqi.com/cevent/jsonapi/"/>
    <add key="JYHAPI_key_TJ" value="betafamilyhas"/>
    <!-- Api请求地址(埋点使用)-->
    <add key="JYHAPI_url_gas" value="http://qhbeta-cgroup.qhw.srnpr.com/cgroup/jsonapi/"/>
    <add key="JYHAPI_key_gas" value="betafamilyhas"/>
    <!-- Api请求地址_账号相关-->
    <add key="JYHAPI_url_account" value="http://hjy.api.lacues.cn/API/APIHandler.ashx"/>
        <!--过渡阶段，请求完微公社接口后（登录、注册、修改密码），调用账户中心等待同步数据接口地址,空则不调用-->
    <add key="JYHAPI_url_account_Synchro" value="http://hjy.api.lacues.cn/API/"/>
    <add key="MemberAPI_Status" value="1"/>
    <add key="HELPAPI_key" value="betacpool"/>
    <!-- 帮助中心Api请求地址-->
    <add key="HELPAPI_url" value="http://api-cpool.syapi.ichsy.com/cpool/jsonapi/"/>
    <!-- 帮助中心内容Api请求地址-->
    <add key="HELPMSGAPI_url" value="http://tj.ichsy.com/AjaxHandler/JYShopHandler.ashx"/>
    <!--接口超时时间 秒-->
    <add key="JYHAPI_timeout" value="100"/>
    <!-- Api登录请求-->
    <add key="JYHAPI_getat" value="com_cmall_membercenter_oauth_api_CheckUserInfo"/>
    <!-- 用户登录请求-->
    <add key="JYHAPI_login" value="com_cmall_membercenter_api_UserLogin"/>
    <!-- 新增收货地址-->
    <add key="JYHAPI_addaddress" value="com_cmall_newscenter_beauty_api_AddAddress"/>
    <!-- 新增收货地址-->
    <add key="JYHAPI_editaddress" value="com_cmall_newscenter_beauty_api_AddressUpdateApi"/>
    <!-- 获取收货地址-->
    <add key="JYHAPI_getaddress" value="com_cmall_newscenter_beauty_api_GetAddress"/>
    <!-- 来自微信商城修改密码-->
    <add key="jyhapi_changepassword" value="com_cmall_familyhas_api_ApiChangePasswordForWx"/>
    <!-- 设定上级手机号-->
    <add key="jyhapi_setrecommend" value="com_cmall_groupcenter_oauth_api_SetParentMember"/>
    <!-- 微公社注册验证手机号是否存在-->
    <add key="jyhapi_checkloginname" value="com_cmall_groupcenter_userinfo_api_CheckLoginNameForGroupApi"/>
    <!-- 微公社用户注销-->
    <add key="jyhapi_userlogout" value="com_cmall_membercenter_api_UserLogout"/>
    <!-- 查询商户信息-->
    <add key="jyhapi_getsellerinfo" value="com_cmall_familyhas_api_ApiForGetSellerInfo"/>
    <!-- 支付宝地址-->
    <add key="JYHAPI_alipay" value="http://qhbeta-cfamily.qhw.yshqi.com/cfamily/payOrder/{0}/4497153900010001"/>
    <!-- 网站域名-->
    <add key="WebHost" value="localhost:63586"/>
    <!-- INI文件-->
    <add key="INIFileName" value="JYHWeb.ini"/>
    <!-- 支付宝账号-->
    <add key="AlipayPartnerID" value="2088911718925902"/>
    <!-- 支付宝账号私钥-->
    <add key="AlipayPartnerKey" value="x90awn8oi6g3jnj4s972p8s4b8lf72z2"/>
    <!-- 校验身份证信息是否通关成功-->
    <add key="JYHAPI_identityinfo" value="com_cmall_familyhas_api_ApiUserIdentityInfo"/>
    <!--日志-->
    <add key="logfile" value="E:\工作\乾和晟云\惠家有WEB_pc"/>
    <!-- 引导图文信息接口地址-->
    <add key="Guide_url" value="http://wx.lacues.cn/admin/ajax/api.aspx"/>
    <!--接收推广通知参数-->
    <add key="merchant_api" value="http://172.18.19.166:8002/AjaxHandler/MerchantHandler.ashx"/>
    <!--<add key="merchant_api" value="http://localhost:11586/AjaxHandler/MerchantHandler.ashx"/>-->

    <add key="merchant_md5key" value="123456"/>
    <add key="merchant_projectcode" value="jyh_web"/>
    <add key="merchant_innerhost" value="localhost:63456,localhost:53620,localhost:6338"/>

    <add key="merchant_wy" value="jygw"/>
    <add key="merchant_wxwy" value="wy"/>
    <!--领克特家有汇参数-->
    <add key="linktec_id" value="linktech"/>
    <add key="linktec_a_id" value="A100190614"/>
    <add key="linktec_m_id" value="jiayou"/>
    <!--领克特家有汇参数-->
    <add key="mt_id" value="mt"/>
    <!--身份证数据密钥-->
    <add key="IDCard_AESKey" value="mgepqfjdrkzdzxwp"/>

    <!--多麦订单推送url-->
    <add key="duomai_sendurl" value="http://www.duomai.com/api/order.php"/>
    <!--商家推送订单的hash值-->
    <add key="duomai_hash" value="bfa81745eb96907a9a58f699b70d965a"/>
    <!--是否测试订单，1：是,0：不是,,此设定已失效，传1则多卖方收不到，需要传0-->
    <add key="istest" value="0"/>
    <!--是否记录多麦订单推送接口返回的log，1：记录，0：不记录-->
    <add key="saveGetPagelog" value="1"/>

    <!--上传图片临时路径[z:是共享的文件服务器盘符]-->
    <add key="UploadIMG" value="/upload/img"/>
    <!--上传图片临时路径盘符[z:是共享的文件服务器盘符]-->
    <add key="UploadIMG_PF" value="z:"/>
    <!--上传图片访问域名-->
    <add key="UploadIMG_YM" value="http://web.lacues.cn/"/>
    <!--上传图片访问路径-->
    <add key="UploadIMG_Path" value="/upload/img"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" validateRequest="false"/>
    <httpRuntime requestValidationMode="2.0" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <customErrors mode="On" defaultRedirect="/IndexMain.html?u=ERROR"></customErrors>
  </system.web>

</configuration>
